.oops {
    font-size: 2em;
    margin: 10px;
    padding: 5px 10px;
    margin-left: 0px;
    background-color: #000;
    border-radius: 5px;
    border: 1px solid #f47d32;
}

.soon_text {
    margin-left: 27px;
}